body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width:100vw;
    color: black;
    font-weight: bold;
    font-family: "Chalkboard";
    background-color: chartreuse;
}

#title{
    width: 60vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

#title span{
    font-size: 4em;
    border-bottom: 5px solid black;
    padding: 0px;
    
}

#container{
    height: 30%;
    width: 60%;
    margin: 3em auto;
    border: 8px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 40px black;
}

#word{
    font-size: 3em;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#word div{
    border-bottom: 2px solid black;
    padding: 15px;
    width: .5em;
}

#hangman{
    height: 100%;
}

.no-display {
    visibility: hidden;
}
#container2{
    width: 60%;
    height: 30%;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    
}
#container2 h2 {
    display: inline;
}
#input, #submit {
   height: 1.5em;
   display: inline;
   border-radius: 5px;
   text-align: center;
   font-size: 1em;
   cursor: pointer;
}
#keyboard{
    font-size: 2.5em;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 40px;
    line-height: 30px;
}

#keyboard span:hover{
    font-size: 1.3em;
    cursor: pointer;
}


@media screen and (max-width: 1200px){
    #container{
        width: 80vw;
    
    }
    #container2{
        width: 80vw;
    }
}

@media screen and (max-width: 800px){
    #container{
        width: 90vw;
        margin: auto;
    }
    #word{
        width: 90%;
        margin: 20px auto;
    }
    #word span{
        padding: 0;
    }
    #hangman{
        height: 80%;
        margin: auto;
    }
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
    }

    #container2{
        font-size: 1.2em;
        margin: 50px auto;
        width: 100vw;
        
    }
    #input , #submit{
        width: 30%;
        margin: 10px;
    }
    #container2 h2{
        display:block;
        width: 100%;
        margin:  auto;
        text-align: center;
    }

    #keyboard{
        font-size:2em;
        width: 90vw;
    }
    

}
@media screen and (max-width: 600px){
    #container2 h2{
        width: 80vw;
        
    }
    #title{
        font-size: .6em;
    }
    #keyboard{
        gap: 25px;
    }
}


    
