body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

#title{
    width: 60vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

#title span{
    font-size: 3em;
    border-bottom: 2px solid black;
    padding: 0px;
}

#container{
    height: 40%;
    width: 60%;
    margin: 3em auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#word{
    font-size: 3em;
}
#word span{
    border-bottom: 2px solid black;
}

#hangman{
    height: 20em;
}

